
    body{background-color:#edf2f2;}
        
    #mapid1, #mapid2, #mapid3, #mapid4 {
        width: 75%;
        height: 600px;
        margin: 0 auto; /* Add this line to center the map horizontally */
        display: grid; /* Add this line to use CSS grid */
        place-items: center; /* Add this line to center the map both horizontally and vertically */
        transition: box-shadow 0.3s ease; /* Add transition for smooth hover effect */
    }
    
    #mapid1:hover, #mapid2:hover, #mapid3:hover, #mapid4:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box-shadow on hover */
    }

    h1 {
        text-align: center;
        color:black;
        font-size: x-large;
        font-family:'Trebuchet MS';
    }
    h2 {
        text-align: center;
        color:black;
        font-size: large;
        font-family:'Trebuchet MS';
    }

    h3 {
        text-align: center;
        color:black;
        font-family:'Trebuchet MS';
        font-size: x-large;
    }

    h4 {
        color:rgb(255, 255, 255);
        font-size: 170%;
        font-family:'Trebuchet MS';
        text-align: center;
    }

    h5 {
        text-align: center;
        color:rgb(27, 103, 55);
        font-family:'Trebuchet MS';
        font-size: 400%;
        margin-top: 50px;
        margin-bottom: 15px;
        font-weight: 600;
    }

    h6 {

        color:black;
        font-size: 120%;
        font-family:'Trebuchet MS';
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .slidecontainer {
        width: 60%;
        margin: auto;
        text-align: center;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.9;
        -webkit-transition: .2s;
        transition: opacity .1s;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: rgb(27, 103, 55);
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: rgb(27, 103, 55);
        cursor: pointer;
    }

    .legend {
        background-color: rgba(246, 239, 239, 0.9); /* Adjust the last value (0.8) for transparency */
        padding: 0 10px 10px 10px; /* top: 0, right: 10px, bottom: 10px, left: 10px */
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
        font-family:'Trebuchet MS';
    }

    .legend2 {
        display:flex;
        color: black;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 1px 4px rgba(0,0,0,0.4);
        border-radius: 5px;
        font-size: 12px;
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: 999;
    }
    .legend2 div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .legend2 p {
        margin: 0;
        font-family:'Trebuchet MS';
    }

    .row {
        /* width: 600px;  */
        width: 95vw;
        background-color: rgb(28, 28, 28); /* Just for demonstration */
        padding: 20px;
        border: 1px solid black;
        display: flex;
      }

      /* Creates two equal columns */
      .column {
        flex: 33%;
        padding: 15px;
        overflow: hidden; /* Prevent overflow */
      }

      .finalnotecontainer {
        background-color: rgb(30, 122, 64);
        color: #fff;
        padding: 5px 50px;
        border-radius: 20px;
        margin: 10px;
        font-family: 'Trebuchet MS';
        font-size: 14px;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
    }

    .textcontainer{
        width: 80%;
        overflow:hidden;
        margin: 15px 0;
        text-align: justify;
        padding: 0 10px; /* Add padding on both sides */
    }

    .titlecontainer {
        background-color: rgb(30, 122, 64);
        color: #fff;
        padding: 5px 40px;
        border-radius: 20px;
        margin: 10px 5px;
        font-family: 'Trebuchet MS';
        font-size: 22px;
        font-weight: bold;
    }
    
    .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 30px solid rgb(30, 122, 64);
    }
    /*.buttoncontainer:hover {
        background-color: rgb(21, 86, 44);
        transform: scale(1.05); Slight increase on hover
        text-decoration: none; Removes underline on hover }
