body{
    background-color:#edf2f2;
}
    h1{color:rgb(27, 103, 55)} 
    h2{color:black} 

#myFirstDiv{
    position:absolute;
    top: 25%;
    left:12.5%;
    width: 75%;
    height:50%;
    background-color: orange;
}

#mySecondDiv{
    position:absolute;
    top: 75%;
    left: 12.5%;
    width: 75%;
    height: 50%;
    background-color: blue;
}

h1{
    cursor:cell;
    position: relative;
    text-align: center;
    top: 35%;
}

h2{
    cursor:cell;
    position: relative;
    text-align: center;
    top: 35%;
}

